.container {
    overflow: auto;
    width: 890px;
    margin: 0 auto;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;

    .links {
        display: flex;
        gap: 1rem;
    }
}
