.container {
    padding: 1.5rem 0;

    overflow: auto;
    width: 890px;
    margin: 0 auto;
}

.head {
    margin-bottom: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;

    .link {
        display: flex;
        gap: 1rem;
        white-space: nowrap;
    }
}
