.ui_planos {
    font-size: 13px;
}

.ui_planos span {
    -moz-user-select: none;
    -khtml-user-select: none;
    border: 1px solid black;
    cursor: pointer;
}

.widget_dropdown_menu_button {
    -moz-user-select: none;
    -khtml-user-select: none;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
    padding: 2px 6px 2px 6px;
    text-decoration: underline;
    text-align: left;
    font-size: 13px;
}

.widget_dropdown_menu_button:hover {
    background-color: black;
    color: #eeeeee;
    z-index: 3001;
}

.widget_dropdown_menu_button:hover .widget_dropdown_menu {
    display: block;
    color: black;
}

.widget_dropdown_menu {
    left: -1px;
    display: none;
    background-color: #eeeeee;
    position: absolute;
    border: 1px solid black;
}

.widget_dropdown_menu_op:hover {
    background-color: black;
    color: #eeeeee;
}